/*noinspection CssInvalidAtRule*/
@import-normalize;

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;700&display=swap');

  :root {
  --main-fg-color: white;
  --main-bg-color: #2d2b29;
  --main-bg-color-alt: #343130;
  --main-bg-color-alt2: #413e3d;
  --main-bg-color-alt3: #262322;
  --main-bg-color-alt4: #322f2e;

  --brand-color: #187318;
  --active-color: #51c851;
  --active-color-a5: rgba(81, 200, 81, 0.5);
  --active-color-hover: #45b845;

  --default-font: 'Work Sans', system-ui, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  --default-font-size: 18px;
  --button-font-size: 17px;

  color-scheme: dark;
}

:root {
  --mobile-breakpoint: 688px;
}

html {
  height: 100%;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  overscroll-behavior-y: contain;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: var(--default-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--main-fg-color);
  background-color: var(--main-bg-color);
  font-size: var(--default-font-size);
  height: 100%;
}

.bare-content {
  padding-bottom: 1rem;
}

.content {
  padding: 1rem;
}

nav + .content {
  padding-top: 0;
}

.flex-grow {
  flex-grow: 1;
}