.pane {
    border: 2px solid var(--main-bg-color-alt3);
    box-shadow: 2px 0 7px 0 rgba(0, 0, 0, 0.15);
    margin-bottom: 1rem;
}

.pane-section {
    padding: 1rem;
    border-bottom: 2px solid var(--main-bg-color-alt3);
}

.pane-header {
    background: var(--main-bg-color-alt4);
    border-bottom: 2px solid var(--main-bg-color-alt3);
    display: flex;
    justify-items: center;
}

.pane-actions {
    border-left: 2px solid var(--main-bg-color-alt3);
    min-height: 40px;
    white-space: nowrap;
}

.pane-title {
    align-self: center;
    padding: .5rem .75rem;
    flex-grow: 1;
    font-size: 90%;
    font-weight: 500;
    text-transform: uppercase;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.pane-footer {
    padding: 1rem;
    background: var(--main-bg-color-alt4);
}
