# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\marcin\Documents\Projects\garden-planner\.idea/dataSources/
/dataSources.local.xml
